apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: orion-uat
resources:
  - ../../base
patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 2
    target:
      kind: Deployment
      name: api

images:
  - name: orion-api
    newName: ghcr.io/orionlynn19/orion-api
    newTag: uat
  - name: orion-worker
    newName: ghcr.io/orionlynn19/orion-worker
    newTag: uat